<% title "Hosts" %>
<%= render 'common/search' %>

<table>
  <tr>
    <th><%= sort :name %></th>
    <th>Package Count</th>
    <th>Last Update<th>
    <th></th>
  </tr>
  <% for host in @hosts %>
    <tr>
      <td><%= link_to host.name, host %></td>
      <td><%= @counter[host.id] %></td>
      <td><%= time_ago_in_words host.updated_at %></td>
      <td>
        <%= link_to "Destroy", host, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<%= page_entries_info @hosts %>
<%= will_paginate @hosts %>
<p><%= link_to "New Host", new_host_path %></p>
