<% title "#{h @host.name} (#{@host.os})" %>
<%= render "common/search", :value => :package_name_like %>
<table>
  <tr>
    <th>Package</th>
    <th>Version</th>
    <th>Arch</th>
    <th>Last changed</th>
  </tr>
  <% for mux in @muxes -%>
    <tr>
      <td><%= link_to h(mux.package), package_path(mux.package) %></td>
      <td><%= h mux.version %></td>
      <td><%= h mux.arch %></td>
      <td><%= time_ago_in_words mux.updated_at %></td>
    </tr>
  <% end -%>
</table>
<%= page_entries_info @muxes %>
<%= will_paginate @muxes %>

<p>
<%= link_to "View All", hosts_path %>
<span class="pagination">last updated <%= time_ago_in_words @host.updated_at %> ago</span>
</p>
