<% title "#{h @host.name} (#{@host.os})" %>
<%= render "common/search" %>
<table>
  <tr>
    <th>Package</th>
    <th>Version(arch)</th>
  </tr>
  <% for package in @packages -%>
    <tr>
      <td><%= link_to h(package), package_path(package) %></td>
      <td> <%= h @host.package_details(package).to_sentence %></td>
    </tr>
  <% end -%>
</table>
<%= page_entries_info @packages %>
<%= will_paginate @packages %>

<p>
<%= link_to "View All", hosts_path %>
<span class="pagination">last updated at <%= @host.updated_at %></span>
</p>
